<template>
    <div>
        <table style="background-color: #42b983; color: whitesmoke;">
            <tr class="row">
                <td>title</td>
                <td>description</td>
                <td>completed</td>
            </tr>
            <tr v-for="note in this.$store.state.notes" :key="note.id">
                <td>{{ note.title }}</td>
                <td>
                    <span v-if="!note.showDescription" @click="toggleDescription(note.id)">{{ note.description | truncate(10) }} <span style="color: blue; cursor: pointer; font-size: 12px;">Show More</span></span>
                    <span v-if="note.showDescription" @click="toggleDescription(note.id)">{{ note.description }} <span style="color: blue; cursor: pointer; font-size: 12px;">Show Less</span></span>
                </td> 
                <td @click="updateCompleted(note.id)" :style="{ cursor:'pointer', backgroundColor: note.completed ? 'rgb(37, 164, 52)' : 'rgba(24, 76, 173, 0.614)',color:'white' }">{{ note.completed?'Done':'Not yet' }}</td>
                <td><button @click=updatePopup(note.id)>update</button></td>
                <td><button @click=deletePopup(note.id)>delete</button></td>
            </tr>
        </table>
        <button @click="createPopup">Create Note</button>
        <div v-if="showPopupCreate">
            <popUpCreate @closeCreate="closeCreate" />
        </div>
        <div v-if="showPopupUpdate">
            <popUpUpdate :id="id" @closeUpdate="closeUpdate" />
        </div>
        <div v-if="showPopupDelete">
            <PopupDelete :id="id" :showDelete="showPopupDelete" @updateShowDelete="updateShowDelete" />
        </div>
    </div>
</template>

<script>
import popUpCreate from "@/components/popUpCreate.vue";
import popUpUpdate from "@/components/popUpUpdate.vue";
import PopupDelete from "@/components/popUpDelete.vue";
    export default {
        data(){
            return {
                id : null,
                showPopupCreate : false,
                showPopupUpdate : false,
                showPopupDelete : false,
                showDescription : false,
            }
        },
        components:{popUpCreate,popUpUpdate,PopupDelete},
        methods:{
            createPopup(){
                this.showPopupCreate = !this.showPopupCreate;
            },
            updatePopup(id){
                this.id = id;
                this.showPopupUpdate = !this.showPopupUpdate;
            },
            deletePopup(id){
                this.id = id;
                this.showPopupDelete = !this.showPopupDelete;
            },
            updateCompleted(id){
                this.$store.dispatch('doUpdateCompleted',id)
            },
            toggleDescription(id){
                this.$store.dispatch('doToggleDescription',id);
            },
            updateShowDelete() {
                this.showPopupDelete = !this.showPopupDelete;
             },
            closeCreate(){
            this.showPopupCreate = !this.showPopupCreate;
            },
            closeUpdate(){
            this.showPopupUpdate = !this.showPopupUpdate;
            },
        },
        filters:{'truncate':function(text,maxLength){
            return text.slice(0, maxLength) ;
        }}
    }
</script>

<style scoped>
table{
    width: 100%;
    border: 2px solid black;
    padding: 10px;
}
.row{
    height: 30px;
    margin: 10px;
    font-weight:bold; 
    font-style: oblique; 
    font-size: 20px;
}
button{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(37, 164, 52);
    border-radius: 10px;
}


</style>