<template>
    <div class="popup">
        <img src="../assets/cancel.png" alt="cancel" class="cancel" @click="closeUpdate">
        <input type="text" placeholder="Add title" v-model="title">
        <input type="text" placeholder="Add description" v-model="description">
        <button @click="updateNote(id,title,description)">Update</button>
    </div>
</template>

<script>
    export default {
        data(){
            return{
                title : "",
                description : "",
                completed : false,
            }
        },
        props:['id'],
        methods: {
            updateNote(id,title,description){
                console.log(this.id);
                this.$store.dispatch("doUpdateNote",{id,title,description});
                this.title = "";
                this.description = "";
            },
            closeUpdate(){
                this.$emit('closeUpdate');
            }
        },
    }
</script>

<style scoped>
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(53, 120, 76);
  border: 1px solid black;
  padding: 20px;
}
input{
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}
button{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(37, 164, 52);
    border-radius: 10px;
}
.cancel{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

</style>