<template>
    <div>
        <p>Add title and description Please!</p>
    </div>
</template>

<script>
/* eslint-disable */
    export default {
        data(){
            return{
            }
        },
        props:[],
        methods: {
            },
    }
</script>

<style scoped>

</style>