<template>
    <div class="popup">
        <div v-if="showError" style="color: maroon;">
            <popUpError />
        </div>
        <img src="../assets/cancel.png" alt="cancel" class="cancel" @click="closeCreate">
        <input type="text" placeholder="Add title" v-model="title">
        <input type="text" placeholder="Add description" v-model="description">
        <button @click="addNote(id,title,description,completed,showDescription,deleted)">Add</button>
    </div>
</template>

<script>
 import popUpError from "@/components/popUpError.vue";
    export default {
        data(){
            return{
                id:0,
                title : "",
                description : "",
                completed : false,
                showDescription: false,
                deleted : false,
                showError: false,
            }
        },
        methods: {
            addNote(id,title,description,completed,showDescription,deleted){
                if(title,description){
                    this.$store.dispatch("doAddNote",{id,title,description,completed,showDescription,deleted});
                    //this.id++;
                    this.title = "";
                    this.description = "";
                    this.showError = false;
                }else{
                    this.showError = true;
                    // console.log('Add title and description please!');
                }
                //console.log(this.$store.state.notes[0].title);
            },
            closeCreate(){
                this.$emit('closeCreate');
            }
        },
        components:{popUpError},
    }
</script>

<style scoped>
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(53, 120, 76);
  border: 1px solid black;
  padding: 20px;
}
input{
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 20px;
    border-radius: 5px;
}
button{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(37, 164, 52);
    border-radius: 10px;
}
.cancel{
    width: 20px;
    height: 20px;
    position: absolute;
    right: 5px;
    top: 5px;
    cursor: pointer;
}

</style>