<template>
    <div v-if="showDelete" class="popup">
        <p>Sure want to delete?</p>
        <button @click="deleteNote(id)">delete</button>
        <button @click="toggleDelete" >CLose</button>
    </div>
</template>

<script>
/* eslint-disable */
    export default {
        data(){
            return{
            }
        },
        props:['id','showDelete'],
        methods: {
            deleteNote(id){
                console.log(this.id);
                this.$store.dispatch("doDeleteNote",id);
                this.$emit('updateShowDelete');
            },
            toggleDelete(){
                this.$emit('updateShowDelete');
            },
        },
    }
</script>

<style scoped>
.popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(185, 86, 97);
  border: 1px solid black;
  padding: 20px;
}
button{
    margin-top: 10px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    background-color: rgb(198, 0, 30);
    border-radius: 10px;
}
</style>